alias cdf='cd {{ ansible_env.HOME }}/go/src/github.com/linuxboot/fiano'
alias cdu='cd {{ ansible_env.HOME }}/go/src/github.com/u-root/u-root'
alias cdl='cd {{ ansible_env.HOME }}/demo/linuxboot'
alias cdq='cd {{ ansible_env.HOME }}/demo/leopard-v2q'
alias cdt='cd {{ ansible_env.HOME }}/demo/tastevin'

